# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\swag\SSF\harvest_text_copy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
